body,
main,
canvas {
  padding: 0;
  margin: 0;
}

canvas {
  border: solid #000 1px;
  max-width: 100%;
  max-height: 100%;
}

#logo,
#create {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

#create {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#create input,
#create button {
  font-size: 16px;
  font-family: inherit;
  padding: 0.25rem;
  margin: 0.25rem;
}

section,
section p,
#change {
  margin: 1rem;
}

@media print {
  #logo {
    display: block;
  }

  #logo section {
    break-inside: avoid;
  }

  #menu {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  section,
  section p,
  #change {
    margin: 2.5vw;
  }
}

section p {
  display: none;
  position: fixed;
  font-size: 90%;
  pointer-events: none;
  user-select: none;
}

section:hover p {
  display: block;
}

section small {
  background: #000;
  color: #fff;
}
